@font-face {
    font-family: 'Nuacht Sans';
    src:
        url('NuachtSans-RegularWEBX.woff') format('woff'),
        url('NuachtSans-RegularWEBX.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nuacht Serif Headline';
    src:
        url('NuachtSerifHeadline-BoldWEBX.woff') format('woff'),
        url('NuachtSerifHeadline-BoldWEBX.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
