{% comment %}
** Newsletter static section

- Options for most common integrations: Klaviyo, mailchimp, ...
- Shopify mail list
{% endcomment %}

<section class="newsletter__wrapper">
  Newsletter
</section>

{% schema %}
  {
    "name": "Newsletter",
    "class": "section__newsletter",
    "settings": []
  }
{% endschema %}