{% comment %}
** Announcement/USP bar section

{% endcomment %}

<section class="announcement-bar__wrapper{% if section.settings.show_full_width %} is--full-width{% endif %}">
  Announcement / USP bar
</section>

<style>
  :root {
      --announcement-bar-background-color: {{ section.settings.background_color }};
  }
</style>

{% schema %}
  {
    "name": "Annnouncement Bar",
    "class": "section__announcement-bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_full_width",
        "label": "Show full width",
        "default": true
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "rgba(0,0,0,0)"
      }
    ],
    "blocks": []
  }
{% endschema %}