{% comment %}
** Bottom bar section

- SF9 logo section - default
- Payment icons - default
- Copyright - default
- Secure site icon
- ...
{% endcomment %}

<section class="bottom-bar__wrapper">
  Bottom bar
</section>


{% schema %}
  {
    "name": "Bottom bar",
    "class": "section__bottom-bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_bottom-bar",
        "label": "Show bottom bar",
        "default": true
      }
    ],
    "blocks": []
  }
{% endschema %}