.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;

    &.grid--has-rows {
        &.grid-columns--2 {
            grid-template-columns: repeat(2, minmax(320px, 1fr));
        }

        &.grid-columns--3 {
            grid-template-columns: repeat(3, minmax(320px, 1fr));
        }

        &.grid-columns--4 {
            grid-template-columns: repeat(4, minmax(320px, 1fr));
        }

        &.grid-columns--5 {
            grid-template-columns: repeat(5, minmax(320px, 1fr));
        }

        &.grid-columns--6 {
            grid-template-columns: repeat(6, minmax(320px, 1fr));
        }
    }
}
